@charset "UTF-8";

body {
    background-color: #cc0000;
    animation: bgcolor 10s ease infinite;
}

@keyframes bgcolor {
    0%{ background-color: #cc0000; }
    25%{ background-color: #0000ff; }
    75%{ background-color: #00ff00; }
}