@charset "UTF-8";

.fluid {
    animation: fluid 30s ease 0s infinite;
    background-color: #cc0000;
    height: 40vh;
    width: 40vh;
}

@keyframes fluid {
    0%, 100% { border-radius:  75% 62% 38% / 26% 51% 49% 74%;  }
    20% { border-radius: 85% 15% 57% 43% / 53% 14% 86% 47%;  }
    40% { border-radius: 51% 49% 81% 19% / 81% 54% 46% 19%;  }
    60% { border-radius: 55% 45% 20% 80% / 35% 75% 25% 65%;  }
    80% { border-radius: 46% 54% 47% 53% / 54% 50% 50% 46%;  }
}